*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Login */
.body-index{
  background: url(../img/ticketsbackground.jpg);
}
.main-login{
width: 60%;
margin: auto;
height: 40vh;
}
.div-login{
    background-color: #2748ca;
    border-radius: 20px;
    display: grid;
    margin-top: 6%;
    backdrop-filter: blur(6px);
    background: transparent;
    border: #fff solid;
}
.form{
    padding: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgb(62, 62, 63);
    
}
.form__h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.form__p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top:60px;
}
.form__input{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
}
.nombre, .contraseña{
  margin-top: 10px;
  margin-bottom: -10px;
  
}
.form__mensaje{
    color: white;
}
label{
    color: rgb(255, 255, 255);
}
input{
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 2px;
    border: 2px solid, white;
    outline: none;
    margin-top: 30px;
    background: transparent;
}
.form__enviar{
    margin-top: 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    border:0 ;
    background-color: rgb(6, 6, 10);
    cursor: pointer;
} 
.form__enviar:hover{
  color: black;
  background-color: white;
}

/* img peliculas */
.producto-img{
    width: 300px;
    height: 200px;
}

/* card */
.contenedor-productos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 6px;
    padding: 10px;
}
.carrito-productos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 6px;
    padding: 10px;
    height: 500px;
    width: 300px;
}

.producto{
    border: 2px solid #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    background-color: #242630;
}

.producto-nombre, .producto-cantidad, .producto-precio{
  color: #fff;
}




.boton-agregar {
    background: #fff; /* color de fondo */
    color: green; /* color de fuente */
    border: 2px solid green; /* tamaño y color de borde */
    padding: 6px 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 18px;
  }
  .boton-agregar:hover {
    color: #fff; /* color de fuente hover */
  }
  .boton-agregar::after {
    content: "";
    background: green; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 6px 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .boton-agregar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

.boton-eliminar {
    background: #fff; /* color de fondo */
    color: red; /* color de fuente */
    border: 2px solid red; /* tamaño y color de borde */
    padding: 6px 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 18px;
  }
  .boton-eliminar:hover {
    color: #fff; /* color de fuente hover */
  }
  .boton-eliminar::after {
    content: "";
    background: red; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 6px 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .boton-eliminar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

 /* header */
header{
    display: grid;
    padding: 0;
    width: 100%;
    height: 40vh;
}
ul, li, a{
    list-style-type: none;
    text-decoration: none;
    padding-right: 10px;
}
.nav{
    background:#020202;
    height: 70px;
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
}
.Limg{
    height: 68px;
    text-decoration: none;
    padding-right: 820px;
}
.boton-menu{
    color: white;
    font-size: 16px;
}
.boton-menu:hover{
  color: #7885ca;
}
.banner{
    justify-self: center;
}
/* main */
main{
width: 100%;
height: 100vh;

}

/* footer */
footer{
    width: 100%;
    height: 6vh;
    background-color: #000000;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.div__a{
    padding-left: 10px;
}

.div__p{
    color: white;
    margin-right: 1000px;
}


/* carrito */
.titulo-principal{
  color: #fff;
}
.total-color{
  color: #fff;
}
.entradas-titulo{
  color: #fff;
}
.body-tienda,.body-carrito{
  background: url(../img/ticketsbackground.jpg);
}
.menu-carrito{
    display: flex;
    align-items: center;
}
.boton-volver{
    margin-right: 1000px;
}
.vaciar-carrito {
    background: #fff; /* color de fondo */
    color: red; /* color de fuente */
    border: 2px solid red; /* tamaño y color de borde */
    padding: 6px 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .vaciar-carrito:hover {
    color: #fff; /* color de fuente hover */
  }
  .vaciar-carrito::after {
    content: "";
    background: red; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 6px 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .vaciar-carrito:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

.comprar {
    background: #fff; /* color de fondo */
    color: green; /* color de fuente */
    border: 2px solid green; /* tamaño y color de borde */
    padding: 6px 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .comprar:hover {
    color: #fff; /* color de fuente hover */
  }
  .comprar::after {
    content: "";
    background: green; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 6px 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .comprar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }