*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login */
.div-login{
    background-color: #2748ca;
    border-radius: 20px;
    display: grid;
    width: 60%;
    margin: auto;
}
.form{
    padding: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgb(44, 44, 143);
}
.form__h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: -180px;
}
.form__p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top:60px;
}
.form__input{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 60px;
}
.form__mensaje{
    color: white;
}
label{
    color: rgb(255, 255, 255);
}
input{
    color: rgb(2, 0, 0);
    padding: 6px;
    border-radius: 2px;
    border: 2px solid, white;
    outline: none;
    margin-top: 30px;
}
.form__enviar{
    margin-top: 30px;
    color: white;
    border-radius: 20px;
    height: 40px;
    font-size: 18px;
    border:0 ;
    background-color: rgb(6, 6, 10);
    cursor: pointer;
}
/* img peliculas */
.producto-img{
    width: 400px;
    height: 300px;
}

/* card */
.contenedor-productos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 20px;
}
.contenedor-carrito{
    display: grid;
    grid-template-columns: auto ;
    gap: 2px;
    padding: 20px;
    right: 10px;
    height: 600px;
    width: 400px;
}

.producto{
    border: 2px solid #525151;
    padding: 20px;
}

.boton-agregar{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.boton-eliminar{
    background-color: #ff0202; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}


 /* header */
header{
    display: grid;
    padding: 0;
    width: 100%;
    height: 40vh;
}
ul, li, a{
    list-style-type: none;
    text-decoration: none;
    padding-right: 10px;
}
.nav{
    background-color: #555;
    height: 70px;
}
.menu{
    display: flex;
}
.Limg{
    height: 68px;
    text-decoration: none;
    padding-right: 800px;
}
.boton-menu{
    color: white;
}
.banner{
    justify-self: center;
}
/* main */
main{
width: 100%;
height: 100vh;

}

/* footer */
footer{
    width: 100%;
    height: 6vh;
    background-color: #555;
    bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.div__a{
    padding: 8px;
}
.div__p{
    color: white;
}
.arriba{
    position:absolute;
    right: 0px;
}


/* carrito */

